.form-control{
	width: auto;
	padding: 2em;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid lightgrey;
	background-color: #e6ccb2;
	border-radius: 1em;
}

.form-control .form-group{
	display: flex;
	align-items: center;
	margin: .5em;
	gap: 1em;
}

.form-control .form-group input{
	font-size: 1.1rem;
	background-color: #ede0d4;
	border: 0;
	border-radius: .2em;
	padding: .5em;
}

@media (max-width: 650px) {
	.form-control{
		width: auto;
		margin: 0 .8em;
		padding: .8em;
		font-size: 13px;
	}
	.form-control .form-group.form-group-btn{
		display: block;
		width: 100%;
	}
}