.user__item {
	width: auto;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 2em;
	border-bottom: 1px solid #264653;
	border-radius: .2em;
	padding: 0 .3em;
}

.user__item > .btn__delete {
	background: transparent;
	border: 0;
}
.user__item > .btn__delete:hover {
	cursor:pointer;
	font-size: larger;
}

